@import "~bootstrap/scss/bootstrap";

.mapWindow {
   text-align: center;
}

.footer {
   display: flex;
   justify-content: center;
   background-color: rgb(255, 193, 7);
   height: 34px;
   width: 100%;
   border: solid rgb(255, 193, 7);
   border-radius: 15px;
   margin-top: 20px
}

.footerText {
   position: fixed;
   bottom: 0;
}